@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: #dabb8d;
  --ui-bg: #04281d;
  --dark-forest-green: #053326;
  --dark-green: #04281d;
  --warm-beige: #dabb8d;
  --light-grey: #e8e8e8;
  --medium-taupe: #827667;
  --medium-taupe-light: #c5c2b2;
  --warm-ligth: #fffae8;
  --black: rgb(0, 0, 0);
  --text-black: rgb(0, 0, 0);
  --white: #f9f7f3;
  --header-height: 90px;
  --header-height-mobile: 100px;
  --footer-height: 120px;
  --ui-color-neutral-700: #e8e8e8;
  --ui-text-highlighted: #e8e8e8;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  *:disabled {
    cursor: not-allowed !important;
  }
}

@font-face {
  font-family: "AdventPro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AdventPro-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

* {
  cursor: url("/cursor.svg"), auto;
  box-sizing: border-box;
  font-family:
    "AdventPro",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  /* font-weight: 600; */
  background-color: var(--dark-forest-green);
  /* cursor: url("/cursor.svg"), default; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carousel__icon {
  fill: var(--warm-beige);
}

.carousel__pagination-button--active {
  background-color: var(--warm-beige);
}

.carousel__pagination {
  margin-top: 20px;
}

.svg-text_small {
  font-size: 1rem;
  fill: var(--medium-taupe);
}

.svg-text_big {
  font-size: 1.4rem;
  font-weight: 800;
  fill: var(--dark-forest-green);
}
