:root {
  --dark-forest-green: #053326;
  --dark-green: rgb(4, 40, 29);
  --warm-beige: #dabb8d;
  --light-grey: #e8e8e8;
  --medium-taupe: #827667;
  --medium-taupe-light: #c5c2b2;
  --warm-ligth: #fffae8;
  --black: rgb(0, 0, 0);
  --white: #f9f7f3;
  --header-height: 80px;
  --footer-height: 120px;
  cursor: url("/cursor.svg") 26 37, auto;
  font-size: 16px;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "AdventPro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AdventPro-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AdventPro", -apple-system, blinkmacsystemfont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}


body {
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-forest-green);
  cursor: url("/cursor.svg"), default;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#app {
  height: 100vh;
}

.carousel__icon {
  fill: var(--warm-beige)
}

.carousel__pagination-button--active {
  background-color: var(--warm-beige);
}

.carousel__pagination {
  margin-top: 20px;
}

.svg-text_small {
  font-size: 1rem;
  fill: var(--medium-taupe);
}

.svg-text_big {
  font-size: 1.4rem;
  font-weight: 800;
  fill: var(  --dark-forest-green);
}